<html>
<head>
<title>Angular Challenge</title>
<script src="angular.min.js"></script>
<link rel="stylesheet" href="bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <script src="jquery.min.js"></script>
  <script src="bootstrap.min.js"></script>
<script src="movieModule.js"></script>
<link rel="stylesheet" href="style.css">
<script>
$(function(){

$(".btn-primary").click(function(){
console.log("hello");
$(".btn-primary").each( function( index ) {
  $(this).removeClass("active");
  console.log($(this));
});
});
});
</script>

</head>
<body ng-app="app" >
<div ng-init="search=''" ng-controller="dynamicMenuController" class="container">
<div ng-init="showHide = false" class='onlyPadding'>
<button class="btn btn-default" ng-click="showHide = !showHide">Create New
<span class="glyphicon glyphicon-menu-down" ng-show="!showHide"></span>
<span class="glyphicon glyphicon-menu-up" ng-show="showHide"></span>
</button>
</div>
<div class="row" ng-show="showHide">
<div class="col-sm-5">
<input type="text" ng-model="title" placeholder="Title" class="form-control"/>
</div>
<div class="col-sm-5">
<input type="rank" ng-model="rank"  placeholder="Rank" class="form-control"/>
</div>
<div class="col-sm-2">
<button ng-click="addNewMovie()" class="btn btn-success btn-block">
Add
</button>
</div>
</div>
<div class="row onlyPadding">
<div class="col-sm-6">
<div class="header" ng-if="!lastPage">Movie List - showing {{skip+1}} to {{skip+itemPerPage}}</div>
<div class="header" ng-if="lastPage">Movie List - showing {{skip+1}} to {{movies.length}}</div>
</div>
<div class="col-sm-4 col-sm-push-2">
<input type="text" placeholder="Search" ng-model="search" class="form-control center"  ng-change="updatePagination(search)"/>
</div>
</div>
<table class="table table-hover table-bordered table-condensed">
<tr><th>Movie Name</th><th>Rank</th><th ng-hide="true"></th></tr>
<tr ng-repeat="mov in movies | orderBy : 'parseInt(rank)' | filter:search | limitTo :itemPerPage:skip">
<td>
<div class="btn-group">
<a href="javascript:;" ng-click="delete(mov)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span></a>
<a href="javascript:;" ng-click="editEnable(mov.id)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>  
</div>
<input type="text" size="" ng-init="titleX = mov.title" ng-model="titleX" ng-hide="!mov.edit" ng-value="mov.title"/>
<button ng-click="edit(mov.id,titleX)" ng-hide="!mov.edit" class="btn btn-default btn-sm">
<span class="glyphicon glyphicon-ok"></span>
</button>
<span ng-hide="!mov.update">Updated</span>

<span ng-hide="mov.edit">{{mov.title}}</span>
</td>
<td>{{mov.rank}}</td>
<td ng-hide="true">{{mov.id}}</td>
</tr>
</table>
<span class="pagination" ng-repeat="ix in counter">

<a id="{{ix}}" class="btn btn-primary first" ng-class="{active: item.active}" ng-if="ix==0" href="javascript:;" ng-click="getNewData(ix, counter)"> {{ix+1}}</a>
<a id="{{ix}}" class="btn btn-primary last" ng-class="{active: item.active}" ng-if="ix==counter.length-1" href="javascript:;" ng-click="getNewData(ix, counter)"> {{ix+1}}</a>
<a id="{{ix}}" class="btn btn-primary" ng-class="{active: item.active}" ng-if="ix!= 0 && ix<counter.length-1" href="javascript:;" ng-click="getNewData(ix, counter)"> {{ix+1}}</a>
</span>
</div>
</body>
</html>