.container{
padding:2%;
}
input{
width:50%;
border: 2px solid #40aafa;
border-radius: 5px;
padding: 3px;
vertical-align:middle;
margin : 0 auto;
}

.btn-primary{
border-radius: 0px;
padding:1vh 3vh;
font-size: 1.8vh;
}
.first{
border-top-left-radius:10px;
border-bottom-left-radius:10px;
}
.last{
border-top-right-radius:10px;
border-bottom-right-radius:10px;
}
.onlyPadding{
padding-bottom:2vh;
}
.btn-primary.active{
	background-color:#204d74;
	border-color: #122b40;
}
.table th {
   text-align: center;
   background-color: #eee;
}
.row.onlyPadding{
	margin: 2vh auto;
	background-color: #fff;
}
body{
	font-family:'Raleway'
}
.header{
	font-size:30px;
}